body
{
    margin: 0;
    padding: 0;
    background-color:#6abadeba;
    font-family: 'Arial';
}

/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    /* margin-left: 180px; */
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #3acbc4;
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
}
.login{
        width: 382px;
        overflow: hidden;
        /* margin: auto; */
        /* margin: 10 80px ; */
        margin-left:70px;
        padding: 20px;
        text-align: left;
        /* text-align: center; */
        /* background: #23463f; */
        /* border-radius: 15px ; */

}
h2{
    text-align: left;
    color: white;
    font-weight: bold;
    padding: 20px;
    margin: 70px;
    
}
label{
    color: #08ffd1;
    font-size: 17px;
}

#name{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 8px;
}
#email{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 8px;

}
#log{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;


}
#log1{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;


}
span{
    color: white;
    font-size: 17px;
}
/* a{
    float: left;
    background-color: rgb(48, 244, 198);
} */
